.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.history
.idea
.vercel
.vscode
.yarn
vendor/
*.log
*.tgz
build
bin
dist
firebase
logs
node_modules
obj
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
.vs/
coverage
dev-dist
html
meta*.json
.claude
